$heading-font: 'Montserrat', sans-serif;
$text-font: 'Open Sans', sans-serif;

$white-color: #fff;
$black-color: #1c2a39;
$grey-color: #5c6a79;
$violet-color: #9e98dc;
$lilac-color: #ff8fe6;

$btn-background-pressed: #eeedf5;
$btn-background-active: #efeef6;